<h1>A Project Built with Ruby on Rails</h1>
<hr/>
<p>A simple wish list, made by you for the live concert season.</p>
<p>This is one of my first Ruby on Rails projects. Learned a lot about the flow and patterns of the MVC system.</p>

<%= link_to "Back", shows_path %>
